# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js


build/
*.log

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
/env

/.vscode
.vscode/
.vscode
vscode

# Created by https://www.toptal.com/developers/gitignore/api/react,nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=react,nextjs

### NextJS ###
# dependencies

/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
node_modules/
node_modules
node_modules/*
node_modules/**/*
/node_modules
/node_modules/*
/node_modules/**/*
/.pnp
.pnp.js
/.pnp.js
node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node
/node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.build
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.development
.env*.test
.env*.production
.env*.staging
.env*.preview
.env*.rc
.env.*.local
.env.*.development
.env.*.test
.env.*.production
.env.*.staging
.env.*.preview
.env.*.rc


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
next.config.js
packages/*/tsconfig.tsbuildinfo
packages/*/next-env.d.ts
package-lock.json
tsconfig.json



### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

bower_components

*.sublime*

psd
thumb
sketch


# End of https://www.toptal.com/developers/gitignore/api/react,nextjsnode_modules/
